@tailwind base;
@tailwind components;
@tailwind utilities;

/* Seus estilos globais abaixo */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
}

@keyframes bounce-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-bounce-in {
  animation: bounce-in 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.scrollbar-thin::-webkit-scrollbar {
  width: 5px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
